h1 {
    padding-bottom: 8px;
}

section {
    padding: 12px;
    margin-bottom: 48px;
    font-family: 'Trebuchet MS';
    font-size: 22px;
    color: #434A4F; 
}

p {
    padding-left: 8px;
}

.content {
    padding-top: 16px;
}